* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Anton', sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}
a {
    color: #262626;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    padding: 20px 0;
    font-size: 25px;
}
.main-nav .logo {
    width:300px;
}
.main-nav ul {
    display: flex;

}
.main-nav ul li a {
    padding-bottom: 2px;
}
.main-nav ul li {
    padding: 0 10px;
}
.main-nav ul li a:hover {
    border-bottom: 2px solid #262626;
}
.main-menu ul.main-menu {
    flex: 1;
    margin-left: 20px;
}
button {
    display: inline;
    border: 0;
    font-weight: bold;
    padding: 10px 20px; 
    background-color: #262626;
    color: white;
}
button:hover {
    opacity: 0.9;
}
.covid {
    width: 100%;
    height: 400px;
    background: url('./img/10e410a98947a19a9d53c7bac539cf04.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.covid h1, .covid p {
    margin-bottom: 10px;
    font-family:'Balsamiq Sans', cursive;
    color: black;
}
.covid button {
    margin-top: 20px;
}
.home-title {
    font-family:'Balsamiq Sans', cursive;
    text-transform: uppercase;
}
.home-cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 40px;
}
.home-cards img {
    width: 100%;
    margin-bottom: 20px;
}
.home-cards h3 {
    font-family:'Balsamiq Sans', cursive;
    margin-bottom: 5px;

}
.home-cards button {
    display:inline block;
    padding-top: 10px;
    background-color: white;
    border: 2px solid black;
    color: #262626;
    text-transform: uppercase;
    font-weight: bold;
}
.home-cards button:hover {
    background-color: yellowgreen;
    margin: 0px;
}
.from-home {
    width: 100%;
    height: 350px;
    background: url('./img/BN-HU260_0410WH_M_20150408143134.jpg') no-repeat center center/cover;
    margin-bottom: 20px;
    border-bottom: 5px solid black;
}
.from-home .content {
    width: 40%;
    padding: 50px 0 0 30px;
    color: whitesmoke;
}
.from-home h2 {
    margin-top: 20px;
    font-family:'Balsamiq Sans', cursive
    
}
.from-home p {
    margin: 10px 0 20px;
    font-family:'Balsamiq Sans', cursive;
}
.from-home button {
    display:inline block;
    padding-top: 10px;
    background-color: white;
    border: 2px solid black;
    color: #262626;
    text-transform: uppercase;
    font-weight: bold;
}
.from-home button:hover {
    background-color: yellowgreen;
    margin: 10px;
}
input[type=email] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
}
input[type=submit] {
    background-color: white;
    border: 2px solid yellowgreen;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.links {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.links-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.links li {
    line-height: 2.8;
    font-family:'Balsamiq Sans', cursive;
}
.footer {
    background: #f2f2f2;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
}
.footer-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer ul {
    display: flex;
    flex-wrap: wrap;
}
.footer li {
    margin-right: 30px;
    margin-bottom: 20px;
}

@media(max-width: 700px) {
    .main-nav {
        font-size: 20px;
    }
    .home-cards {
        grid-template-columns: repeat (2, 1fr)
    }
    .from-home .content p {
        display: none;
    }
    .from-home .content h2 {
        margin-bottom: 20px;
    }
    .links .links-inner {
        grid-template-columns: repeat (2. 1fr);
    }
}
@media(max-width: 500px) {
    .main-nav {
        font-size: 16px;
    }
    .home-cards {
        grid-template-columns: 1fr;
    }
}